@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cardo', serif;
  display: flex;
}

.comparacion {
  width: 260px;
  margin-left: 10px;
}

.card-container {
  border: 6px solid rgb(55, 57, 79);
  width: 265px;
  height: 385px;
  background-color: aqua;
  background-image: url(img/card_front.jpg);
}

.card-head {
  box-shadow: -6px -6px 5px -6px rgba(0, 0, 0, 1) inset,
    6px 6px 5px -6px rgb(255, 255, 255) inset;
  -webkit-box-shadow: -6px -6px 5px -6px rgba(0, 0, 0, 1) inset,
    6px 6px 5px -6px rgb(255, 255, 255) inset;
  -moz-box-shadow: -6px -6px 5px -6px rgba(0, 0, 0, 1) inset,
    6px 6px 5px -6px rgb(255, 255, 255) inset;
  width: 230px;
  height: 32px;
  padding: 5px;
  margin: 10px auto 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
}

.name {
  color: rgb(89, 86, 53);
  font-weight: 700;
}

.type {
  width: 26px;
}

.card-set {
  width: 206px;
  margin: auto;
  text-align: end;
  font-size: 10px;
}

.text-box {
  border: solid rgb(193, 111, 26) 2px;
  width: 230px;
  margin: auto;
  height: 75px;
  position: relative;
  padding: 1px;
  background-color: rgba(255, 255, 255, 0.7);
}

.monster-type {
  font-size: 12px;
}

.description {
  font-size: 11.5px;
  font-style: italic;
}

.stats {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 2px;
  border-top: black 1px solid;
  width: 98%;
  height: 14px;
  font-size: 10px;
  font-weight: 600;
}

.attack {
  margin-right: 15px;
}

.defense {
  margin-right: 3px;
}

.card-img {
  margin: 3px auto;
  width: 206px;
  height: 204px;
  background-image: url(img/cards/IMG-20211005-WA0003.jpg);
  background-position: 233px -66px;
  background-size: 260px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.8);
}

.stars {
  display: flex;
  flex-direction: row;
  width: 205px;
  margin: 2px auto;
  justify-content: flex-end;
}

.star-img {
  width: 16px;
}

.bottom {
  display: flex;
  font-size: 8px;
  justify-content: space-around;
  font-weight: 600;
}

.bottom-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4px 2px;
}

.bottom-info .card-edition .sup {
  font-size: 5px;
}

.holo {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(img/holo.png);
}
