* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card .img {
  border: 5px solid gray;
  margin: auto;
  width: 84%;
  height: 313px;
  background-image: url(../img/cards/IMG-20211005-WA0001.jpg);
  background-position: 362px -114px;
}
