:root {
  --main-form-color: #ff6347;
}

* {
  font-family: 'roboto', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(255, 191, 71, 1) 20%,
    rgba(71, 227, 255, 1) 80%
  );
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  box-sizing: border-box;
  margin: 0px;
}

input,
button {
  transition: all 0.3s ease-in-out;
}

h1 {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  background: var(--main-form-color);
  color: white;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 20px;
  margin: 0px 0px 25px 0px;
}

.form {
  width: 260px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25px auto;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 4px;
  background-color: white;
}

input {
  margin: 20px auto 40px auto;
  width: 200px;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px var(--main-form-color);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 96%,
    var(--main-form-color) 4%
  );
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: var(--main-form-color);
}

input:focus {
  box-shadow: 0px 2px #f7f7f7;
  outline: none;
  background-position: 0 0;
}

button {
  border: none;
  background: var(--main-form-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px;
  width: 200px;
  color: white;
  margin: 10px auto 0px auto;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.registrado {
  display: none;
  text-align: center;
  margin: 25px auto 0px auto;
  color: green;
  font-size: 12px;
  padding: 0px;
}

.requerido {
  display: none;
  text-align: center;
  max-width: 200px;
  margin: 25px auto 0px auto;
  color: red;
  font-size: 12px;
}

.existente {
  display: none;
  text-align: center;
  max-width: 200px;
  margin: 0px auto;
  color: red;
  font-size: 12px;
}

.modal {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
}

.modalContent {
  background-color: #f7f7f7;
  border-radius: 8px;
  margin: 5% auto 5% auto;
  padding: 15px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.botonesModal {
  margin-bottom: 15px;
}

.userCard {
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  max-width: 150px;
  padding: 0px 0px 10px 0px;
  margin: 10px 15px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 8px;
  transition: all 120ms ease-in-out;
}

.userCard:hover {
  background-color: rgba(71, 227, 255, 0.2);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-form-color);
  border-radius: 10px;
}
